<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 6cd60fde8f0b9e1f3e033139aa5448238398e85e
  <!--favicon.png是萨达的ico，favicon.ico是铁总的ico-->
  <link id='favicon' href="/favicon.png" rel="icon"  type="image/x-icon">
<!--  <script-->
<!--          src="https://browser.sentry-cdn.com/5.15.2/bundle.min.js"-->
<!--          integrity="sha384-HA4Glk4hAwUFBIu+OfNR4bvn6vGCxT134gRiQce9rwp2YfxcuHHG8nG7qkooJwFt"-->
<!--          crossorigin="anonymous"></script>-->
<<<<<<< HEAD
=======
=======
  <link id='favicon' href="/favicon.ico" rel="icon"  type="image/x-icon">
>>>>>>> 55c339e0f6caedb2e7ee70f944aaa8cd05c485ae
>>>>>>> 6cd60fde8f0b9e1f3e033139aa5448238398e85e
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nNmAXovtkdTGjYnPfhnUqnYopPlHSsGA"></script>
  <script src="/ezuikit.js"></script>
  <script src="/checkBrowser.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
<script>
  // Sentry.init({ dsn: 'https://a91cccb5d18f4690af25770551ca8774@sentry.io/5178414' });
</script>
</html>
